.books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   

}
.bg{
    background-color: rgb(31, 52, 75);
}
.text{
    color:#fff !important;
}
.totals{
    color:rgba(236, 253, 0, 0.849);
    text-align: center;
}

.title{
    color:rgb(15, 202, 108);
    margin-bottom: 19px !important;
    font-weight: 600;
}
.head{
    color:rgba(4, 248, 248, 0.973) !important;
}
.book{

   
    margin-bottom: 40px !important;
    width: 22rem;
    margin: 0 auto;
  
}
.publish{
    color:rgb(233, 87, 2);
    font-weight: 500;
}
.publisher{
    color:rgb(10, 163, 156);
    font-weight: 500;
    margin-bottom: 10px !important;
}

.book-image{

    height: 280px;
    width: 220px;
    margin: 0 auto;
    margin-top: 15px;
}